In [ ]:
import pandas as pd
import numpy as np
import datetime

In [ ]:
df=pd.read_csv("/content/drive/My Drive/Order Brushing/order_brush_order.csv")

In [ ]:
df["event_time"]= pd.to_datetime(df["event_time"])

In [ ]:
df.shape

(222750, 4)

In [ ]:
df.head()

          orderid     shopid     userid          event_time
0  31076582227611   93950878   30530270 2019-12-27 00:23:03
1  31118059853484  156423439   46057927 2019-12-27 11:54:20
2  31123355095755  173699291   67341739 2019-12-27 13:22:35
3  31122059872723   63674025  149380322 2019-12-27 13:01:00
4  31117075665123  127249066  149493217 2019-12-27 11:37:55

In [ ]:
df.groupby('shopid')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 222750 entries, 0 to 222749
Data columns (total 4 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   orderid     222750 non-null  int64
 1   shopid      222750 non-null  int64
 2   userid      222750 non-null  int64
 3   event_time  222750 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 6.8 MB

In [ ]:
df.describe()

            orderid        shopid        userid
count  2.227500e+05  2.227500e+05  2.227500e+05
mean   3.130027e+13  9.433117e+07  9.802880e+07
std    1.222774e+11  5.695790e+07  6.839048e+07
min    3.107520e+13  1.000900e+04  1.000700e+04
25%    3.120360e+13  4.980267e+07  3.508127e+07
50%    3.130561e+13  9.033636e+07  9.309625e+07
75%    3.140604e+13  1.475053e+08  1.590612e+08
max    3.150720e+13  2.154352e+08  2.155262e+08

In [ ]:
df.loc['shopid'][1].minute

54

In [ ]:
df['userid'].unique().valu

array([30530270, 46057927, 67341739, ..., 55114470, 41654255, 27306783])

In [ ]:
df=df.loc[(df['shopid']) & (df['userid'] >= 3)]

In [ ]:
df['shopid'].value_counts()

61556313     6691
57189823      687
107921853     684
34910509      515
84301799      501
             ...
162557357       1
162831795       1
44469           1
161172937       1
176433157       1
Name: shopid, Length: 9311, dtype: int64

In [ ]:
df1=df.groupby('shopid')['userid'].value_counts()[df.groupby('shopid')['userid'].value_counts() >= 3]

shopid     userid
10159      62775725     3
           214988798    3
10287      74488711     3
           103289694    3
           198097381    3
                       ..
208265257  194273448    4
208700193  201762365    3
209158413  147853291    3
211245313  46875705     3
213141071  213646699    3
Name: userid, Length: 1127, dtype: int64

In [ ]:
df.event_time=pd.to_datetime(df.event_time)
df4=df.groupby([df.shopid,df.userid,pd.Grouper(key='event_time',freq='H')]).size().reset_index(name='count')
df4

           shopid     userid          event_time  count
0           10009  196962305 2019-12-27 03:00:00      1
1           10051    2854032 2019-12-27 19:00:00      1
2           10051   48600461 2019-12-29 01:00:00      1
3           10061   62464559 2019-12-31 02:00:00      1
4           10061  130633421 2019-12-30 21:00:00      1
...           ...        ...                 ...    ...
215872  214949521   46269178 2019-12-31 20:00:00      1
215873  214964814  200983383 2019-12-29 22:00:00      1
215874  215175775   13688804 2019-12-31 09:00:00      1
215875  215175775  129266028 2019-12-31 14:00:00      1
215876  215435223   79515106 2019-12-31 18:00:00      1

[215877 rows x 4 columns]

In [ ]:
df5 = df4.loc[df4['count']>=3]
df5

           shopid     userid          event_time  count
432         10159  214988798 2019-12-29 20:00:00      3
924         10287  198097381 2019-12-30 00:00:00      3
930         10287  214226569 2019-12-31 01:00:00      3
1135        10402      77819 2019-12-28 14:00:00      3
1316        10536     672345 2019-12-27 11:00:00      3
...           ...        ...                 ...    ...
213233  203531250  114282846 2019-12-29 17:00:00      3
214329  204225676  198662175 2019-12-31 00:00:00      5
214868  208696908  214111334 2019-12-30 17:00:00      3
215502  210197928   52867898 2019-12-27 07:00:00      4
215769  213141071  213646699 2019-12-27 01:00:00      3

[742 rows x 4 columns]

In [ ]:
df5

           shopid     userid
432         10159  214988798
924         10287  198097381
930         10287  214226569
1135        10402      77819
1316        10536     672345
...           ...        ...
213233  203531250  114282846
214329  204225676  198662175
214868  208696908  214111334
215502  210197928   52867898
215769  213141071  213646699

[742 rows x 2 columns]

In [ ]:
output = pd.DataFrame({'shopid': df5.shopid, 'userid': df5.userid})
output.to_csv('my_submission.csv', index=False)